@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*:not(header){
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}
body{
    background: #4853BB;
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    font: inherit;
    background-color: #122E74;
    font-weight: 400;
    font-size: 300%;
    text-align: center;
    padding: 10%;
    width: 80%;
}
header>h1 {
    font-family: 'Jockey One';
    font-style: normal;
    display: inline;
    text-align: center;
    padding: 5%;
    color: white;
    font-size: 1.5em;
}
.form-content a:hover{
  text-decoration: underline;
}
.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.form{
  position: absolute;
  width: 90%;
  border-radius: 6px;
  padding:30px;
  border-radius: 6px;
  background-color: white;
}
.form.cadastrar{
  opacity: 0;
  pointer-events: none;
}
.forms.show-cadastrar .form.cadastrar{
  opacity: 1;
  pointer-events: auto;
}
.forms.show-cadastrar .form.login{
  opacity: 0;
  pointer-events: none;
}
main{
  color:black;
  font-size:28px;
  font-weight: 600;
  text-align: center;
}
form{
  margin-top:30px;
}
.form .field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button{
  height:100%;
  width: 100%;
  border:none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input{
  outline: none;
  padding: 0 15px;
  border:1px solid#CACACA;
}
.field input:focus{
  border-bottom-width: 2px;
}
.field button{
  color: #fff;
  background-color: #0171d3;
}
.field button:hover{
  color: #fff;
  background-color: #016dcb;
  transition: all 0.3 ease;
  cursor: pointer;
}
.eye-icon{
  position: absolute;
  top: 50%;
  right:10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}
.form-link{
  text-align: center;
  margin-top: 10px;
}
.form-link span,
.form-link a{
  color:black;
  font-size:14px;
  font-weight: 400;
}
.form a{
  color: #0171d3;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.line{
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4
}
.line::before{
  content: 'Ou';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  color: #232836;
  padding: 0 15px;
}
@media screen and (max-width: 600px) {
    header > h1 {
      font-size: 1.0em;
    }
  }
  
  @media screen and (max-width: 400px) {
    header > h1 {
      font-size: 1em;
        }
    .form{
      padding: 20px 10px;
        }
    }
  
